web/WEB-INF/wsdl/localhost_8080/BookWebServices/QueryBooks.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://BookQuery/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://BookQuery/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/BookWebServices/QueryBooks?xsd=1" />

<xs:element name="GetBooks" type="tns:GetBooks" />

<xs:element name="GetBooksResponse" type="tns:GetBooksResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="operation" type="tns:operation" />

<xs:element name="operationResponse" type="tns:operationResponse" />

<xs:complexType name="GetBooks">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetBooksResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="operation">
<xs:sequence />
</xs:complexType>

<xs:complexType name="operationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>